<div class='well span10 offset1' xmlns="http://www.w3.org/1999/html">
  <h1>What is threeTasks?</h1>

  <p>threeTasks is a simple to-do list. The basic idea is to define the 3 things you want to do today.
    Then, as you go through your day, you do them and mark them off.</p>
  <br>

  <h1>Can I have more than 3?</h1>

  <p>No, three shall be the number thou shalt count, and the number of the counting shall be three.
    Four shalt thou not count, neither count thou two, excepting that thou then proceed to three. Five is right
    out. </p>

  <p>Seriously, the site is called threeTasks. By putting more on the list, one of two things will happen:
  <ul class='about'>
    <li>You'll put a lot of trivial tasks on the list, and spend time on those instead of what's really important</li>
    <li>You'll have too much to get done in one day, and then you'll feel like a failure because your list keeps
      growing
    </li>
  </ul>
  </p>
  <br>

  <h1>Deserted Island Principle</h1>
  <p>Remember the question that starts "If you were stranded on a desert island"? It's usually followed by things
  like "What 3 CDs would you bring?" or "What 3 people would you want there?" It's a fun hypothetical question, but one
  thing it accomplishes, is it helps you identify what things are important to you.  I'm guessing if you can only bring
  3 CDs (or MP3 albums) Hole's 1994 "Live Through This" probably isn't making the list.</p>

  <p>So if you were stranded on a desert island, and could only get 3 things done today, what would they be?
  What are the 3 most important tasks for you?  Put those in the list, and then get to work crossing them off.</p>

  <h1>Are you going to spam me?</h1>

  <p>Absolutely not!</p>
</div>