<div class='well span10 offset1' xmlns="http://www.w3.org/1999/html">
  <p>If you have any questions, or would just like to chat, you can:
    <ul>
      <li><a href="https://twitter.com/#!/taylonr">follow me on Twitter</a></li>
      <li><a href="mailto:taylonr@gmail.com">Email me</a></li>
    </ul>
  </p>

</div>