
<div id='taskContainer' class="container well">
    <ol id='task-list' class='task'></ol>
</div>

<script type="text/template" id="task-template">
    <div class="view">
        <form class='form-inline'>
            <label class="taskView">{{description}}</label>
            <i class='icon-ok'></i>
        </form>
    </div>
    <input class="edit input-xxlarge focused" type="text" value="{{description}}"/>
</script>

<script type="text/template" id="user-template">

</script>
<script src="../app.js"></script>
