<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <script type="text/javascript" src="../underscore-min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="../backbone-min.js"></script>
  <script type="text/javascript" src="../bootstrap.min.js"></script>
  <link rel="stylesheet" href="../bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../bootstrap-responsive.css" type="text/css">
  <link rel="stylesheet" href="../blackBrass.css" type="text/css">
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32460230-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">threeTasks</a>
      <div>
        <ul class='nav'>
          <li><a href='/'>Home</a></li>
          <li><a href='/about'>About</a></li>
          <li><a href='/contact'>Contact</a></li>
        </ul>
      </div>

      <div class='nav-collapse collapse pull-right'>
        <ul class='nav'>
          <% if session[:user_id] %>
              Hello, <%= session[:user_name] %>
              <a class='btn btn-inverse' id='signout'>Sign-Out</a>
          <% else %>
              <a class="btn btn-inverse" data-toggle="modal" href="#signin">Sign-In</a>

              <div class="modal hide" id="signin">
                <div class="modal-header">
                  <button type="buttonModal header" class="close" data-dismiss="modal">×</button>
                  <h3>Sign-In</h3>
                </div>
                <div class="modal-body">
                  <a href='/auth/twitter'><img src='img/Twitter_logo.png' width='128' height='128'></a>
                  <a href='/auth/facebook'><img src='img/facebook-logo.png' width='128' height='128'></a>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                </div>
              </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>