<div class='hero-unit offset1 span10'>
  <h1>Welcome to threeTasks</h1>
  <p>The simple to-do app geared towards focusing on what's important,
    and eliminating the guilty feelings when you don't finish your tasks!</p>
  <br>
  <p>To get started, just sign in.</p>

  <p>
    <a class="btn btn-primary" data-toggle="modal" href="#signin">Sign-In</a>

  <div class="modal hide" id="signin">
    <div class="modal-header">
      <button type="buttonModal header" class="close" data-dismiss="modal">×</button>
      <h3>Sign-In</h3>
    </div>
    <div class="modal-body">
      <a href='/auth/twitter'><img src='img/Twitter_logo.png' width='128' height='128'></a>
      <a href='/auth/facebook'><img src='img/facebook-logo.png' width='128' height='128'></a>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
  </p>

</div>