html,
body {
    margin: 0;
    padding: 0;
}

#task-list li .edit {
    display: none;
}

#task-list li.editing .edit{
    display:block;
}

#task-list li.editing .taskView {
    display: none;
}

ol.task {
    font-size: x-large;
    margin-left: 50px;
    margin-top: 5px;
}

.taskView {
    font-size: x-large;
    padding-bottom: 25px;
}

input.edit {
    font-size: large;
    padding: 5px;
}